* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.firstHalf {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(assets/firstback.png);
  background-size: cover;
  height: 800px;
}
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 30px;
  width: 100%;
}
.firstHeading {
  margin-right: 300px;
  /* margin: auto; */
  color: #ffffff;
  font: Source Sans Pro;
  /* display: flex; */
}
.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  margin-right: 300px;
}

.horizontal-list li {
  margin-right: 20px;
  color: #ffffff;
}
.horizontal-list a {
  text-decoration: none;
}
.horizontal-list a:hover {
  text-decoration: underline white;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}
.logo {
  width: 63px;
  height: 63px;
}
h1 {
  width: 386px;
  height: 118px;
  left: 407px;
  top: 328px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;

  text-align: center;

  color: #ffffff;
}

.headline p {
  height: 56px;
  width: 426px;
  left: 387px;
  top: 488px;
  border-radius: nullpx;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}

.secondPart {
  height: 700px;
  left: 0px;
  top: 800px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.sectionHead h2 {
  width: 669px;
  height: 119px;
  left: 265px;
  top: 887px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;
  margin-bottom: 50px;
  color: #464547;
}

.firstP {
  width: 426px;
  height: 57px;
  left: 387px;
  top: 1046px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;
  margin-bottom: 50px;

  color: #666666;
}

.secondP {
  width: 983px;
  height: 194px;
  left: 97px;
  top: 1151px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  text-align: center;

  color: #000000;
}

#readMore {
  background: #55c2d8;
  border-radius: 18px;
  height: 36px;
  width: 115px;
  left: 0px;
  top: 0px;
  color: #ffffff;
  border: 0px;
  margin-top: 20px;
}
#readMore:hover {
  box-shadow: 5px 2px rgb(162, 152, 152);
}

.thirdPart {
  /* background-image: url(/assets/audience.png);
  height: 666px;
  background-size: cover; */
}

.audience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(/assets/audience.png);
  height: 666px;
  background-size: cover;
}
.audience h2 {
  width: 480px;
  height: 117px;
  left: 360px;
  top: 1584px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  margin-bottom: 50px;
  margin-top: auto;
  text-align: center;

  color: #ffffff;
}

.audience p {
  width: 390px;
  height: 102px;
  left: 395px;
  top: 1974px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 90px;
  color: #ffffff;
}

.audience button {
  width: 150px;
  height: 150px;
  left: 525px;
  top: 1754px;
  border-radius: 50%;
  border: #ffffff 1px;
  color: #ffffff;
  font-size: 70px;
  background: #39c2d7;
  margin-top: 50px;
  margin-bottom: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.audience button:hover {
  color: #001f3f;
  background-color: #fff;
}

.info {
  background-image: url(/assets/grey\ back.png);
  height: 200px;
}
