.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.footer h2 {
  margin-left: 10px;
  width: 128px;
  height: 20px;
  color: #ffffff;
}
.footer img {
  width: 20px;
  height: 20px;
}

.finalPart {
  margin-left: 100px;
  padding-top: 40px;
}

.adress p {
  height: 22px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
}

.adress a {
  height: 22px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.adress i {
  height: 22px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
}
